<md-toolbar layout="row">
  <div class="md-toolbar-tools">
    <md-button ng-click="vm.toggleSidenav('left')" hide-gt-md class="md-icon-button" aria-label="Menu">
      <i class="material-icons md-light">menu</i>
    </md-button>
    <!-- <md-button aria-label="Open Settings" ng-click="showListBottomSheet($event)">
      <ng-md-icon icon="more_vert"></ng-md-icon>
    </md-button> -->
    <h1>Sentimento - Dashboard App</h1>
  </div>
</md-toolbar>
<!-- <md-toolbar layout="row">
  <h1>Sentimento - Dashboard App</h1>
</md-toolbar> -->
