header{
    .img-logo{
        width: 50px;
        height: 50px;
        padding: 10px;
        float: left;
    }
    .header-row{
        background-color: #fafafa;
        color: #00695C;
        h1{
            margin-bottom: 0;
            color: #4f7ccb
        }
    } 
}
