<div class="dashboard">
  <div class="md-padding" layout-xs="column" layout="column" layout-align="center center">
        <div class="md-padding db-container">
          <div layout="row" layout-xs="column">            
            <!-- Details  -->
            <div flex>
              <md-card class="senti-details">
                <md-card-content>
                  <h2 class="md-headline">What's the chart about?</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo amet alias facilis earum! Esse hic nobis
                    quis dolore vel, facere cupiditate aliquam quas, voluptate, cum enim quidem voluptatum recusandae molestiae!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus nemo, minima blanditiis magnam debitis id iure a, esse, quos error ipsam ad fugiat atque repellendus sequi est. Incidunt quia, ad.</p>
                </md-card-content>
              </md-card>
            </div>
            <!-- Score -->
            <div flex="100" flex-gt-xs="50" flex-gt-md="25">
              <md-card class="senti-box" ng-class="vm.activeClass">
                <md-card-title>
                  <md-card-title-text>
                    <span class="md-headline">
                <i class="material-icons md-36">face</i>
                <span class="senti_label">Sentiment Score</span>
                  </md-card-title-text>
                </md-card-title>
                <md-card-content>
                  <h1 class="md-display-3 big-font">{{vm.score}}</h1>
                </md-card-content>
              </md-card>
            </div>
          </div>
          <!-- Graph  -->
          <div flex>
            <md-card>
              <md-card-content>
                <nvd3 options="vm.options" data="vm.data" class="with-3d-shadow with-transitions"></nvd3>
              </md-card-content>
            </md-card>
          </div>
        </div>
  </div>
</div>