.dashboard {
  md-content.md-padding{
      padding: 0;
  }

  .graph{
    background-color: #4caf50;
    .dashed {
        stroke-dasharray: 5,5;
    }
  }
  g.nvd3{
      width: 100%;
      display: block;
  }
  .senti_label{
    position: relative;
    top: -10px;
    left: 5px;
  }
  .senti-box{
    background-color: #2196F3;
    color: #fff;

    h1{
      margin: 0 0 25px 0;
      text-align: center;
    }
  }
  .senti-details{
    background-color: #FF8F00;
    color: #fff;
  }
}
